@import "tailwindcss";

:root {
  --background: #F6F5F2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-warm-white: #F6F5F2;
  --color-warm-gray: #EFEFEF;
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), 'Montserrat', sans-serif;
}
